
 $Blue: hsl(246, 80%, 60%);
$work: hsl(15, 100%, 70%); //work
$play: hsl(195, 74%, 62%); //play
$study: hsl(348, 100%, 68%); //study
$exercise: hsl(145, 58%, 55%); //exercise
$social: hsl(264, 64%, 52%); //social
$selfcare: hsl(43, 84%, 65%);//self-care

/* NEUTRAL */
$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);
$Card-Hover: hsl(236, 41%, 34%);

@import "general";
@import "main";
@import "media570";
@import "media960";
@import "media1440";

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// body {
//     font-family: 'Rubik', sans-serif;
//     font-size: 18px;
// }